
.menu {
  padding: 20px 250px;
}

.header {
  background-image: url('assets/cardapio/header.png');
  background-repeat: no-repeat;
  height: 300px;
  background-size: cover;
  display: flex;
  align-items: center;
  &__text {
    color: white;
    font-size: 5rem;
    min-width: 400px;
    width: 40%;
  }
}